/* ------ LOGO  ------ */
:root {
    --square: 6px;
}
@media (min-width: 767px) {
    :root {
        --square: 8px;
    }
}
@media (min-width: 1200px) {
    :root {
        --square: 10px;
    }
}
@media (min-width: 1600px) {
    :root {
        --square: 14px;
    }
}
@media (min-width: 2400px) {
    :root {
        --square: 20px;
    }
}

.logo__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 2rem;
    gap: 1rem;
}
.logo-line {
    display: flex;
    flex-direction: column;
    height: calc(var(--square)*5);
    width: fit-content;
    flex-wrap: wrap;
    overflow: hidden;
}
.logo-line > .square {
    width: var(--square);
    height: var(--square);
    animation: logoApearing 3s ease-in-out 1 forwards;
}
.logo-line > .fill {
    background-color: var(--text);
}
.logo-line > .accent {
    background-color: var(--text-accent);
}

@keyframes logoApearing {
    0% {
        background-color: transparent;
    }
}