/* ------ LOGO  ------ */
:root {
    --dot: 8px;
}

.logo__container{
    display: flex;
    justify-content: center;
    padding-block: 6rem;
}
.logo {
    display: flex;
    height: calc(var(--dot)*5);
    width: calc(var(--dot)*16);
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
}
.dot {
    width: var(--dot);
    height: var(--dot);
}
.fill {
    background-color: var(--text);
}
.accent {
    background-color: var(--text-accent);
}