/* ------ HEADER ------ */
:root {
    --header-height: 3rem;
}
.header--fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    background-color: var(--bg-header);
    backdrop-filter: blur(10px);
    overflow: hidden;
    z-index: 50;
}
.header__scroll-progress {
    position: absolute;
    top: 0;
    left: 0;
    height: var(--header-height);
    background-color: var(--text-accent);
    opacity: .2;
    z-index: -10;
}
.header__container {
    height: var(--header-height);
}
.header__link {
    display: block;
    line-height: var(--header-height);
}

/* ------ SPACING FOR HEADER HEIGHT ------ */
.main {
    padding-top: var(--header-height);
}

/* ------ TITLES ------ */
.title--content {
    font-size: unset;
    font-weight: unset;
    margin-block: 1rem;
}
.title--primary {
    font-size: 150%;
    font-weight: 700;
    margin-block: 2rem;
    text-align: center;
    color: var(--text-accent);
    line-height: 120%;
}
.title--secondary {
    font-size: 125%;
    font-weight: 700;
    padding-block: calc(var(--header-height) + 1rem);
    color: var(--text-accent);
}

/* ------ CONTENT LINKS ------- */
.content__item {
    margin-block: 1rem;
}

/* ------ PARAGRAPHS ------ */
p {
    margin-block: 2rem;
    word-spacing: .25rem;
}

/* ------ TRACT ------ */
.tract__info {
    margin-block: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* ------ AUDIO ------ */
.tract__audio {
    width: 100%;
}