/* ------ TITLES ------ */
.primary-title {
    font-size: 2rem;
    margin-block: 2rem;
    text-align: center;
    color: var(--text-accent);
}
.secondary-title {
    font-size: 1.75rem;
    margin-block: 4rem;
    color: var(--text-accent);
}
.content-title {
    font-size: unset;
    font-weight: unset;
    line-height: 200%;
}

/* ------ PARAGRAPHS ------ */
p {
    margin-block: 2rem;
    word-spacing: .25rem;
}